$base-color: #0D85FE;

* {
  box-sizing: border-box; 
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
}

input:focus, button:focus, *:focus {
  outline: 0;
}

input::placeholder {
  color: #A1A1A1;
}

input:focus::placeholder {
  color: transparent;
}

a {
  text-decoration: none;
}

button {
  background-color: $base-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}

.container {
  width: 50vw;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 65px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.logo {
  height: 65px;
  border-radius: 32px;
  background-color: $base-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 2px;
}

.transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-chevron {
  position: absolute;
  left: 50px;
}

.header-upload-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 50px;

  .upload-header {
    height: 65px;
    width: 65px;
    border-radius: 100px;
  }

  .code-header {
    background-color: #FAFAFA;
    border: 1px solid #C8C7CC;
    color: rgba(0,0,0,0.7);
    width: 190px;
    height: 45px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 50px;
    padding: 0px 10px;
    text-align: center;
  }
}

.title {
  font-size: 48px;
  font-weight: 300;
  color: rgba(109, 114, 120, 0.8);
  text-align: center;
}

.subtitle {
  font-size: 36px;
  font-weight: 300;
  color: rgba(109, 114, 120, 1);
  text-align: center;
  margin-top: 20px;
}

.blue-button {
  font-weight: 300;
  font-size: 36px;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px 30px;

  div {
    margin-left: 15px;
  }
}

.upload-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: $base-color;
  transition: width 0.2s;
}

.secondary-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  svg {
    margin-top: 20px;
  }
}

.main-image-display {
  margin-top: 30px;
  height: 50vh;
  max-width: 100%;
  object-fit: cover;
}

@media screen and (max-height: 900px) {
  .title {
    margin-top: 15px;
    font-size: 36px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 80vw !important;
  }
  .header-upload-container {
    top: 100px;
    left: calc(50vw - 132px);
  }
  .title {
    font-size: 36px;
  }
  .subtitle, .blue-button {
    font-size: 24px;
  }
  .main-image-display {
    margin-top: 120px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .subtitle, .blue-button {
    font-size: 18px;
  }
}