$base-color: #0D85FE;

* {
  box-sizing: border-box; 
  max-width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

html, body {
  overflow-x: hidden;
}

body {
  margin: 0;
}

input:focus, button:focus, *:focus {
  outline: 0;
}

input::placeholder {
  color: #A1A1A1;
}

input:focus::placeholder {
  color: transparent;
}

a {
  text-decoration: none;
}

button {
  background-color: $base-color;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s;
}

button:hover {
  opacity: 0.7;
}

button:active {
  opacity: 0.5;
}

.container {
  width: 50vw;
  height: calc(100vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 65px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 20px;
}

.logo {
  height: 65px;
  border-radius: 32px;
  background-color: $base-color;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 36px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 2px;
}

.transparent {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-chevron {
  position: absolute;
  left: 50px;
}

.header-upload-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  right: 50px;

  .upload-header {
    height: 65px;
    width: 65px;
    border-radius: 100px;
  }

  .code-header {
    background-color: #FAFAFA;
    border: 1px solid #C8C7CC;
    color: rgba(0,0,0,0.7);
    width: 190px;
    height: 45px;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 50px;
    padding: 0px 10px;
    text-align: center;
  }
}

.title {
  font-size: 48px;
  font-weight: 300;
  color: rgba(109, 114, 120, 0.8);
  text-align: center;
}

.subtitle {
  font-size: 36px;
  font-weight: 300;
  color: rgba(109, 114, 120, 1);
  text-align: center;
  margin-top: 20px;
}

.blue-button {
  font-weight: 300;
  font-size: 36px;
  border-radius: 30px;
  margin-top: 20px;
  padding: 10px 30px;

  div {
    margin-left: 15px;
  }
}

.upload-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 20px;
  background-color: $base-color;
  transition: width 0.2s;
}

.secondary-arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  svg {
    margin-top: 20px;
  }
}

.main-image-display {
  margin-top: 30px;
  height: 50vh;
  max-width: 100%;
  object-fit: cover;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(255,255,255,0.5);
}

.blue-modal {
  position: fixed;
  z-index: 500;
  background-color: $base-color;
  width: 70vw;
  left: 15%;
  top: 30%;
  padding: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 1;

  .modal-close {
    position: absolute;
    left: 20px;
    top: 20px;
  }
  
  .modal-text {
    color: white;
    font-size: 48px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 80%;
  }

  .modal-code {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 4px solid white;
    border-radius: 30px;
    letter-spacing: 10px;
  }
}

.show {
  animation: show 0.2s ease-in;
  animation-fill-mode: forwards;
}

.hide {
  animation: hide 0.2s ease-in;
  animation-fill-mode: forwards;
}

.response-box {
  width: 100%;
  margin-top: 30px;
}

.response-inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  input {
    font-size: 18px;
    border-radius: 50px;
    padding: 0px 10px;
    height: 45px;
    color: rgba(0,0,0,0.7);
  }

  .screen-name {
    background-color: rgba(142, 142, 147, 0.12);
    border: none;
    width: 40%;
    text-align: center;
    margin-right: 20px;
  }

  .response {
    background-color: #FAFAFA;
    border: 1px solid #C8C7CC;
    width: 60%;
    padding-left: 20px;
  }

  .send-button {
    position: absolute;
    right: 10px;
    background-color: transparent;
    border-radius: 100px;
  }
}

.responses {
  padding: 20px;
  max-height: 20vh;
  overflow-y: scroll;
}

.response-item {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 15px;

  .response-name {
    color: rgba(109, 114, 120, 0.8);
    font-weight: 400;
    font-size: 18px;
  }

  .response-message {
    background-color: $base-color;
    border-radius: 20px;
    padding: 10px 30px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
}

@media screen and (max-height: 900px) {
  .title {
    margin-top: 15px;
    font-size: 36px;
  }
}

@media screen and (max-width: 960px) {
  .container {
    width: 80vw !important;
  }
  header {
    flex-direction: column;
  }
  .header-upload-container {
    position: relative;
    margin-top: 20px;
    right: 0px;
  }
  .title {
    font-size: 36px;
  }
  .subtitle, .blue-button {
    font-size: 24px;
  }
  .blue-modal {
    .modal-text {
      font-size: 32px;
    }
  }
  .response-inputs {
    input {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .subtitle, .blue-button {
    font-size: 18px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  } 
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  } 
}